<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SKTBCustomCellHeightDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0357591A2047A6F100616D4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>035759332047A6F500616D4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0357593E2047A6F500616D4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
